<div class="row">
    <form class="span12">
        <label>
            First
            <input type="text" data-bind="value: person.first"/>
        </label>
        <label>
            Last
            <input type="text" data-bind="value: person.last"/>
        </label>
        <button class="btn" data-bind="click: save">Save</button>
        <button class="btn btn-link btn-small" data-bind="click: cancel">Cancel</button>
    </form>
</div>

<div class="row">
    <div class="span12">
        <button class="btn btn-info" data-bind="click: info"><i class="icon-info-sign icon-white"></i> Info</button>
        <button class="btn btn-success" data-bind="click: success"><i class="icon-thumbs-up icon-white"></i> Success</button>
        <button class="btn btn-warning" data-bind="click: warning"><i class="icon-exclamation-sign icon-white"></i> Warning</button>
        <button class="btn btn-danger" data-bind="click: error"><i class="icon-fire icon-white"></i> Error</button>
    </div>
</div>
